section {
  margin-bottom: 60px;
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  h2 {
    font-size: 3rem;
    line-height: 1;
    // margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
  .show-more {
    font-size: 1.125rem;
    border-radius: 0;

    @media (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
}
