<main class="container episodes">
  <div class="title-header">
    <h1>Episódios</h1>
    <app-input-search></app-input-search>
  </div>
  @if (episodesPaginator.data.length > 0 && !isLoading) {

  <div class="episodes-wrapper">
    @for (episode of episodesPaginator.data; track $index) {
    <app-episode [episode]="episode"></app-episode>
    }
  </div>
  @if(episodesPaginator.data.length !== episodesPaginator.total){
  <div class="loading" observeVisibility (visible)="onVisible()">
    <mat-spinner diameter="52" color="secondary"></mat-spinner>
  </div>
  } } @else if (isLoading) {
  <div class="loading">
    <mat-spinner diameter="52" color="secondary"></mat-spinner>
  </div>
  }@else { }
</main>
