@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #102000,
    20: #203700,
    25: #284300,
    30: #304f00,
    35: #395c00,
    40: #416900,
    50: #538400,
    60: #66a000,
    70: #7abe00,
    80: #92db25,
    90: #acf844,
    95: #d3ff98,
    98: #f0ffd6,
    99: #f9ffe8,
    100: #ffffff,
  ),

  secondary: (
    0: #000000,
    10: #102000,
    20: #203700,
    25: #284300,
    30: #304f00,
    35: #3a5c08,
    40: #466816,
    50: #5e822e,
    60: #769c45,
    70: #90b75d,
    80: #abd375,
    90: #c6f08e,
    95: #d4ff9b,
    98: #f0ffd6,
    99: #f9ffe8,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00210a,
    20: #003916,
    25: #00461d,
    30: #005323,
    35: #00602a,
    40: #006d31,
    50: #008a40,
    60: #00a74f,
    70: #00c55e,
    80: #0ee46f,
    90: #65ff91,
    95: #c5ffca,
    98: #eaffe8,
    99: #f6fff2,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #181d12,
    20: #2d3225,
    25: #383d30,
    30: #44493b,
    35: #4f5446,
    40: #5b6052,
    50: #747969,
    60: #8e9382,
    70: #a8ad9c,
    80: #c4c9b7,
    90: #e0e5d2,
    95: #eef3e0,
    98: #f7fce8,
    99: #fafeeb,
    100: #ffffff,
    4: #0b1006,
    6: #10150a,
    12: #1c2115,
    17: #272c1f,
    22: #32362a,
    24: #363b2e,
    87: #d7dcca,
    92: #e6ead7,
    94: #ebf0dd,
    96: #f1f6e3,
  ),
  neutral-variant: (
    0: #000000,
    10: #171e0d,
    20: #2b3321,
    25: #363e2b,
    30: #424936,
    35: #4d5541,
    40: #59614c,
    50: #727a64,
    60: #8b947c,
    70: #a6ae96,
    80: #c1cab0,
    90: #dde6cb,
    95: #ecf4d9,
    98: #f4fde1,
    99: #f9ffe8,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme(
  (
    color: (
      system-variables-prefix: color,
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,

      use-system-variables: true,
    ),
    typography: (
      system-variables-prefix: text,
      use-system-variables: true,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      system-variables-prefix: color,
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
      use-system-variables: true,
    ),
    typography: (
      system-variables-prefix: text,
      use-system-variables: true,
    ),
  )
);
