<main class="container locations">
  <div class="title-header">
    <h1>Personagens</h1>
    <app-input-search
      (valueChange)="handleSearchChange($event)"
    ></app-input-search>
  </div>
  @if (locationsPaginator.data.length > 0 ) {
  <div class="locations-wrapper">
    @for (location of locationsPaginator.data; track $index) {
    <app-location [location]="location"></app-location>
    }
  </div>
  @if(locationsPaginator.data.length !== locationsPaginator.total){
  <div class="loading" observeVisibility (visible)="onVisible()">
    <mat-spinner diameter="52"></mat-spinner>
  </div>
  } }@else if (isLoading) {
  <div class="loading">
    <mat-spinner diameter="52"></mat-spinner>
  </div>
  }@else{
  <div class="no-content">
    <p>Nenhum personagem encontrado =(</p>
  </div>

  }
</main>
