<div class="character">
  <div class="header">
    <h3>Rick Sanches</h3>
  </div>
  <div class="content">
    <div class="image">
      <img
        src="https://rickandmortyapi.com/api/character/avatar/30.jpeg"
        alt="Rick Sanches"
      />
    </div>
    <div class="infos">
      <div class="group">
        <div class="property">
          <span class="label">Espécie:</span>
          <span class="value">Humano</span>
        </div>

        <div class="status-box">
          <span class="status-icon"></span><span class="status-text">Vivo</span>
        </div>
      </div>
      <div class="property">
        <span class="label">Gênero:</span>
        <span class="value">Masculino</span>
      </div>
      <div class="property">
        <span class="label">Origem:</span>
        <span class="value">Terra (C - 137)</span>
      </div>
    </div>
  </div>
</div>
