<div class="character">
  <div class="header">
    <h3>{{ character.name }}</h3>
  </div>
  <div class="content">
    <div class="image" [ngClass]="{isHomePage}">
      <img [src]="character.image" [alt]="character.name" />
    </div>
    <div class="infos">
      <div class="group">
        <div class="property">
          <span class="label">Espécie:</span>
          <span class="value">{{ character.species }}</span>
        </div>

        <div class="status-box">
          <span class="status-icon"></span
          ><span class="status-text">{{ character.status }}</span>
        </div>
      </div>
      <div class="property">
        <span class="label">Gênero:</span>
        <span class="value">{{ character.gender }}</span>
      </div>
      <div class="property">
        <span class="label">Origem:</span>
        <span class="value">{{ character.origin.name }}</span>
      </div>
    </div>
  </div>
</div>
