.container.home-page {
  margin-bottom: 60px !important;
}

.wrapper-items {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  padding-bottom: 4px;

  &:hover {
    scrollbar-color: #606060 transparent;
    overflow-x: auto;
  }

  &.two-rows {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    max-height: 300px;
  }
}
