<main class="container">
  <app-section-content label="Personagens">
    <div class="wrapper-items">
      @for (character of charactersResponse?.results; track $index) {
      <app-character [character]="character"></app-character>
      }
    </div>
  </app-section-content>
  <app-section-content label="Localizações">
    <div class="wrapper-items two-rows">
      @for (location of locationsResponse?.results; track $index) {

      <app-location [location]="location"></app-location>

      }
    </div>
  </app-section-content>
  <app-section-content label="Episódios">
    <div class="wrapper-items two-rows">
      @for (episode of episodesResponse?.results; track $index) {

      <app-episode [episode]="episode"></app-episode>

      }
    </div>
  </app-section-content>
</main>
